<ng-container *ngIf="configId">
  <p class="fw-light fs-4 mt-3 text-center">Building Insights</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Yearly Energy</td>
        <td>{{(panelConfig?.yearlyEnergyDcKwh * panelCapacityRatio / 1000).toFixed(2)}} MWh</td>
      </tr>
      <tr>
        <td>Panels Count</td>
        <td>{{panelCount}} panels</td>
      </tr>
      <tr>
        <td>Max Panel</td>
        <td>{{buildingInsights.solarPotential.solarPanels.length}}</td>
      </tr>
      <tr>
        <td>Panel Capacity</td>
        <td>{{panelCapacityWattsInput}}</td>
      </tr>
      <tr>
        <td>Annual Sunshine</td>
        <td>{{buildingInsights.solarPotential.maxSunshineHoursPerYear}}</td>
      </tr>
      <tr>
        <td>Roof area</td>
        <td>{{buildingInsights.solarPotential.wholeRoofStats.areaMeters2}}</td>
      </tr>
      <tr>
        <td>CO2 Savings</td>
        <td>{{buildingInsights.solarPotential.carbonOffsetFactorKgPerMwh}}</td>
      </tr>
    </tbody>
  </table>


  <p-slider [(ngModel)]="panelCount" [min]="1" [max]="buildingInsights.solarPotential.maxArrayPanelsCount" styleClass="mb-4" [step]="1" (onChange)="setSolarPanels()"></p-slider>

  <p class="text-center">Selected Panels: {{panelCount}}</p>


  <p class="fw-light fs-4 mt-3 text-center">Solar Potential Analysis</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Yearly Energy</td>
        <td> kWh</td>
      </tr>
      <tr>
        <td>Installation Size</td>
        <td>kW</td>
      </tr>
      <tr>
        <td>Installtion Cost</td>
        <td></td>
      </tr>
      <tr>
        <td>Energy Covered</td>
        <td>%</td>
      </tr>
    </tbody>
  </table>

  <p class="fw-light fs-4 mt-3 text-center">Cost Analysis for 20 years</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cost without solar</td>
        <td></td>
      </tr>
      <tr>
        <td>Cost with solar</td>
        <td></td>
      </tr>
      <tr>
        <td>Savings</td>
        <td></td>
      </tr>
      <tr>
        <td>Break Even</td>
        <td></td>
      </tr>
      <tr>
        <td>Monthy average bill</td>
        <td>$300</td>
      </tr>
    </tbody>
  </table>
</ng-container>
