<div class="container mt-4">
  <app-search-bar [initialValue]="defaultPlace.name" [map]="map" [zoom]="zoom" [location]="location"
    [placesLibrary]="placesLibrary"></app-search-bar>
  <div class="row">
    <div class="w-100" style="height: 60vh;" #mapElement></div>
  </div>
  <div class="row">
    <app-building-insights [location]="location" [map]="map" [geometryLibrary]="geometryLibrary" [googleMapsApiKey]="googleMapsApiKey"></app-building-insights>
    <!-- <app-data-layers [map]="map"></app-data-layers> -->
  </div>
</div>
