<div class="container mt-4">
  <app-search-bar [initialValue]="defaultPlace.name" [map]="map" [zoom]="zoom" [location]="location"
    [placesLibrary]="placesLibrary"></app-search-bar>
  <div class="row">
    <div class="w-100" style="height: 60vh;" #mapElement></div>
  </div>
  <div class="row mt-3 text-center">
    <app-data-layers [location]="location" [map]="map" [googleMapsApiKey]="googleMapsApiKey" [buildingInsights]="buildingInsights" [geometryLibrary]="geometryLibrary"></app-data-layers>
  </div>
  <div class="row">
    <app-building-insights [location]="location" [map]="map" [geometryLibrary]="geometryLibrary"
      [googleMapsApiKey]="googleMapsApiKey" (buildingInsightsResponse)="buildingInsightsResponse($event)"></app-building-insights>
  </div>
</div>
